.col-one-colored {
    background-color: lightblue;
    font-size: 20px;
    font-family: Georgia;
    color: darkblue;
  }
 
  .col-two-colored {
    background-color: lightgreen;
    font-size: 20px;
    font-family: cursive;
  }
 
  .col-three-colored {
    background-color: rgb(244, 244, 87);
    font-size: 20px;
    font-family:monospace;
  }
 
  .col-four-colored {
    background-color: lightcoral;
    font-size: 20px;
  }